* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 p a li ul {
    font-family: 'Oswald', sans-serif;
}

body {
    font-size: 16px;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: #072a5e;
    color: white;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img {
    width: 100%;
}

header h1 {
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5em;
    background-color: #072a5e;
    color: white;
    text-align: center;
}