* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
}

header, nav, main, footer {
    margin: .75rem auto;
}  

header {
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: #36454f;
    color: white;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header a {
    text-decoration: none;
}

footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5em;
    background-color: #36454f;
    color: white;
    text-align: center;
}

header img {
    height: 120px;
    width: 150px;
    padding-left: 15px;
}

h2 {
    justify-content: center;
    background-color: #131c17;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    width: 100% ;
    text-align: center;
}

form label.app input{
    font-size: 20px;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 100px;
  grid-gap: 5px;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
}

.app-info{
  grid-column: 1;
  grid-row: 1/3;
  height: 90%;
}

.member-lvl {
  grid-column: 2;
  grid-row: 1;
}

.disc{
    grid-column: 2;
    grid-row: 2;
    height: 80%;   
}

form fieldset{
    margin: 30px;
    border: 1px solid #1a1f23;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    color: #0e7568;
    margin: 0 10px;
    max-width: 30rem;
}

form label.app{
    display: block;
    padding-top: 1rem;
    color: #1a1f23;
    font-size: 20px;
}

form label.app input{
    display: block;
    padding: .7rem;
    color: #1a1f23;
    font-size: 15px;
    border: 1px solid #1a1f23;
    border-radius: 5px;
    color: #1a1f23;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: 1rem 0;
    color: #1a1f23;
}

form input.submitBtn {
    border: none;
    background-color: rgb(160, 223, 320);
    border-radius: 15px;
    padding: 1rem 1rem;
    margin: 0 2rem 2rem;
    width: 96%;
    max-width: 20rem;
    color: #1a1f23;
    font-size: 20px;
    grid-column: 1/3;
    grid-row: 3;    
}

form input.submitBtn:hover{
    background-color: rgb(54, 69, 79);
    color: #ffffff;
}

form label.app input:required {
    border-left: red solid 5px;
}

form label.app input:required:valid {
    border-left: green solid 5px;
}

#txtid{
    height: 90%;
    width: 96%;
    max-width: 30rem;
}

form{
    display: block;
}

.member-lvl {
    background-color: rgba(0, 0, 0, 0.1);
    
}

.disc{
    background-color: rgba(0, 0, 0, 0.1);
}

.formResponse {
    text-align: center;
    margin: 200px;
    border: 2px solid #649c9b;
    padding: 100px;
}

h1 {
    padding-bottom: 15px;
    font-style: italic;
}
p {
    padding-top: 10px;
    font-weight: 10px;
    padding-bottom: 50px;
}

.button {
    font-size: 15px;
    padding: 20px;
    background-color: rgb(160, 223, 320);
    color: #1a1f23;
    border-color: rgb(160, 223, 320);
    border-radius: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(54, 69, 79);
    color: #ffffff;
}

/*This is for Medium Screens */
    main {
        display: block;
    }
    
    nav button {
        display: none;
    }

    nav {
        background-color: #36454f;
        justify-self: right!important;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav button {
        margin: .2rem 2vw;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: #fff;
        float: right;
    }
    
    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.5)
    }
    
    nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
    }
    
    nav ul li.active a {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }


    nav ul#primaryNav {
        display: flex;
        justify-content: flex-start;
        margin-left: 2vw;
    }

    nav ul li a {
        border: none;
    }

/*This is for Small Sizes*/
@media only screen and (max-width: 60rem) {
    main {
        display: block;
    }
    
    form fieldset{
        margin: 30px;
        border: 1px solid #1a1f23;
        border-radius: 10px;
        padding: .5rem 2%;
    }
    
    form legend{
        color: #0e7568;
        margin: 0 10px;
        max-width: 30rem;
    }
    
    form label.app{
        display: block;
        padding-top: 1rem;
        color: #1a1f23;
        font-size: 20px;
    }
    
    form label.app input{
        display: block;
        padding: .7rem;
        color: #1a1f23;
        font-size: 18px;
        border: 1px solid #1a1f23;
        border-radius: 5px;
        color: #1a1f23;
        width: 90%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    form label.sbs {
        display: block;
        padding: 1rem 0;
        color: #1a1f23;
    }
    
    form input.submitBtn {
        border: none;
        background-color: rgb(160, 223, 320);
        border-radius: 15px;
        padding: 1rem 1rem;
        margin: 0 2rem 2rem;
        width: 96%;
        max-width: 20rem;
        color: #1a1f23;
        font-size: 20px;
        grid-column: 1/3;
        grid-row: 3;  
    }
    
    form input.submitBtn:hover{
        background-color: rgb(54, 69, 79);
        color: #ffffff;
    }
    
    form label.app input:required {
        border-left: red solid 5px;
    }
    
    form label.app input:required:valid {
        border-left: green solid 5px;
    }
    
    #txtid{
        height: 90%;
        width: 96%;
        max-width: 30rem;
    }
    
    form{
      display: block;
    }
    
    .member-lvl {
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    .disc{
      background-color: rgba(0, 0, 0, 0.1);
    }
}